<header xmlns:th="http://www.thymeleaf.org" th:fragment="head">
<nav class="navbar navbar-expand-lg bg-dark navbar-fixed-top">
	<div class="container">
	<a class="navbar-brand" href="/view">商品リスト管理</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/view">ホーム</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/new">商品追加</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled">商品削除</a>
			</li>
		</ul>
	</div>
	</div>
</nav>
</header>